@page "/"
@inject IDialogService _dialogService

<PageTitle>Home</PageTitle>

<h1>Test message box</h1>

<FluentButton Appearance="Appearance.Accent" OnClick="handleClick">Test MessageBox 2024</FluentButton>

@code {
    void handleClick()
    {
        var temp1 = new MessageBox() { Content = new() { Message = "abc" } };

        _dialogService.ShowError("Error Message", "Error Title");   
    }
}