@page "/"
@inject IDialogService _dialogService

<PageTitle>Home</PageTitle>

<h1>Test message box</h1>

<FluentButton Appearance="Appearance.Accent" OnClick="handleClick">Ingresar</FluentButton>

@code {
    void handleClick()
    {
        _dialogService.ShowError("Error Message", "Error Title");
    }
}